zoolytics-apex/Funconalidades_Zoolytics/force-app/main/default/flows/Registrar_Fecha_Resolucion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_email_de_cierre</name>
        <label>Enviar email de cierre</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue> david.cuenca.bascunana@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>david.cuenca.bascunana@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[Zoolytics] Incidencia resuelta</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;div style="font-family:Arial,sans-serif;background:#f6f8fb;padding:20px;"&gt;&lt;div style="max-width:640px;margin:0 auto;background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;overflow:hidden;"&gt;&lt;div style="background:#166534;color:#ffffff;padding:14px 18px;font-size:18px;font-weight:700;"&gt;Incidencia resuelta · Zoolytics&lt;/div&gt;&lt;div style="padding:18px;color:#111827;line-height:1.5;"&gt;&lt;p style="margin:0 0 10px 0;"&gt;Tu incidencia se ha marcado como &lt;b&gt;{!$Record.Estado__c}&lt;/b&gt;.&lt;/p&gt;&lt;p style="margin:0 0 6px 0;"&gt;&lt;b&gt;Asunto:&lt;/b&gt; {!$Record.Asunto__c}&lt;/p&gt;&lt;p style="margin:0 0 6px 0;"&gt;&lt;b&gt;Categoria:&lt;/b&gt; {!$Record.Categoria__c} · &lt;b&gt;Zona:&lt;/b&gt; {!$Record.Zona__c}&lt;/p&gt;&lt;p style="margin:0 0 6px 0;"&gt;&lt;b&gt;Fecha resolucion:&lt;/b&gt; {!$Record.Fecha_Resolucion_Incidencia__c}&lt;/p&gt;&lt;p style="margin:14px 0 0 0;padding:10px;background:#f0fdf4;border:1px solid #bbf7d0;border-radius:8px;color:#166534;"&gt;Gracias por contactar con Zoolytics. Si necesitas mas ayuda, puedes abrir una nueva incidencia.&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Tiene_Fecha_Resolucion</name>
        <label>Tiene Fecha Resolucion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SinFecha_Resuelta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resuelta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fecha_Resolucion_Incidencia__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>SinFecha_Resuelta</label>
        </rules>
        <rules>
            <name>SinFecha_Cerrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fecha_Resolucion_Incidencia__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registrar_Fecha_Resolucion</targetReference>
            </connector>
            <label>SinFecha_Cerrada</label>
        </rules>
        <rules>
            <name>ReabiertaDesdeResuelta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resuelta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resuelta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resetear_Fecha_Resolucion</targetReference>
            </connector>
            <label>ReabiertaDesdeResuelta</label>
        </rules>
        <rules>
            <name>ReabiertaDesdeCerrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resuelta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resetear_Fecha_Resolucion</targetReference>
            </connector>
            <label>ReabiertaDesdeCerrada</label>
        </rules>
    </decisions>
    <description>Mensaje en texto plano</description>
    <environments>Default</environments>
    <interviewLabel>Registrar Fecha Resolucion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cierre Incidencia</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Registrar_Fecha_Resolucion</name>
        <label>Registrar Fecha Resolucion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enviar_email_de_cierre</targetReference>
        </connector>
        <inputAssignments>
            <field>Fecha_Resolucion_Incidencia__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Resetear_Fecha_Resolucion</name>
        <label>Resetear Fecha Resolucion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Fecha_Resolucion_Incidencia__c</field>
            <value>
                <elementReference>FechaResolucionNulll</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tiene_Fecha_Resolucion</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resuelta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada</stringValue>
            </value>
        </filters>
        <object>Incidencia__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FechaResolucionNull</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaResolucionNulll</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
